body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  thead {
    background-color: #2980b9;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ecf0f1;
  }
  
  tbody tr:hover {
    background-color: #d4e6f1;
  }
  
  th:first-child, td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  th:last-child, td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .buttons-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .cadastro-button, .excluir-button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .cadastro-button {
    background-color: #3498db;
  }
  
  .excluir-button {
    background-color: #e74c3c;
  }
  
  .logout-button {
    display: block;
    position: fixed;
  top: 10px;
  right: 10px;
  background-color: #464646;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #e74c3c;
}